
/*Resetting Styles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

/* Fixed header */
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

/* создаем плашку */
.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(140, 192, 192);
	z-index: 3;
}

/* Ограничили контентную часть по ширине  */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

/* Для отображения контактной информации в header */
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

.header__logo {
	flex: 0 0 200px;
	overflow: hidden;
	position: relative;
	z-index: 5;
}

/* если картинка будет больше чтобы подстроиалась под наш размер */
.header__logo img {
	max-width: 100%;
	display: block;
}

.header__burger {
	display: none;
}

.header__menu {
}

.header__list {
	display: flex;
	position: relative;
	z-index: 3;
}

.header__list li {
	margin-left: 20px;
}

.header__link {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}

.content {
	padding-top: 100px;
}

.content__text {
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.8px;
}

.content__text  p {
	margin-bottom: 20px;
}

/* Почему лучше делать фиксированную шапку. Так как это юзе билити , чтобы не скролить много раз */

/* для создания бургера */
@media (max-width: 767px) {
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 5;
	}

	/* середина  полоса*/
	.header__burger span {
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before, .header__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	/* верхняя полоса */
	.header__burger::before {
		top: 0;
	}

	/* нижняя полоса */
	.header__burger::after {
		bottom: 0;
	}

	.header__menu {
		position:fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(41, 104, 83);
		z-index: 1;
		padding: 70px 10px 20px 10px;
		transition: all 0.5s ease 0s;
		overflow: auto;
	}

	.header__body {
		height: 50px;
	}

	.header__logo {
		flex: 0 0 110px;
	}

	.header__list {
		display: block;
		margin: 0 auto;

	}

	.header__list li {
		margin-bottom: 20px;
		text-align: center;
	}

	.header__burger.is-active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.is-active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.is-active span {
		display: none;
	}

	.header__menu.is-active {
		top: 0;
	}

	.content {
		padding-top: 60px;
	}

	/* Запрет скрола при открытом меню */
	body.lock {
		overflow: hidden;
	}
}